#Welcome {
    text-align: center;
    
}
body{
    background-color: rgb(34, 34, 207);
    width: 100%;
    height: 100%;
}

.pictures{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    margin-left: 25%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .topnav-centered {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 64%;
    margin-left: 18%;
    background-color: #666;
  }
  ul li a{
    text-align: center;

  }
  
  li {
    display: inline-block;
    text-align:center; 
    }
  .active {
    float: none;
    position: relative;
    top: 34%;
    left: -89%;
    transform: translate(584%, 0%);
}

.active2 {
  float: none;
  position: relative;
  top: 34%;
  left: -89%;
  transform: translate(584%, 0%);
}
.active3 {
  float: none;
  position: relative;
  top: 34%;
  left: -190%;
    transform: translate(584%, 0%);
}
.active4 {
  float: none;
  position: relative;
  top: 34%;
  left: -166%;
    transform: translate(584%, 0%);
}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .our-team {
    padding: 7px 0px 9px;
    margin-bottom: 30px;
    width: 22%;
    margin-left: 11%;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
}
  
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  #pics1{
    top: 20px;
  }
 #picture2{
  margin-left: 41%;
  margin-top: -16%;
  }

  #picture3{
    margin-left: 70%;
    margin-top: -17%;
  }
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
  
  #button{
    border: 5px solid #FFAB33;
    width: 200px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    margin: auto;
    background: #FF5733;
  }
  
  #button:hover{
    background: #DFF30B;
  }

  .hide{
    visibility: hidden;
  }
  
  .reveal{
    visibility: visible;
  }

.nav-bar{
 margin-left: 7%;
}

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-container > div {
    background-color: white;
    width: 256px;
    margin: 10px;

    padding: 42px;
    text-align: center;
    height: 20rem;
    font-size: 30px;
  }

  
.package1:hover{
  background-color: #0f72e4;
  transition: 0.3s;
  opacity: 1;
}
.package2:hover{
  background-color: #0f72e4;
  transition: 0.3s;
  opacity: 1;
}
.package3:hover{
  background-color: #0f72e4;
  transition: 0.3s;
  opacity: 1;
}
.ButtonT3 {
  position: relative;
  background-color: #3668ff;
  color: #fff;
  padding: .1rem 1.2rem;
  left: 17%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;
}

.ButtonT3 {
  font-size: 14px;
  line-height: 2.6rem;
}

.footer {
  position: fixed;
  margin-top:10px;

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0fb2e4dc;
  color: white;
  text-align: center;
}

.footers{
  background-color: red;
  width: 50%;
  height: 100%;
}
